* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  padding-left: 10vh;
  padding-right: 10vh;
}

.main-frame {
  padding: 30vh 0 5vh 0;
  margin-bottom: 5vh;
  border-bottom: 5px solid black;

  #name {
    .name {
      font-size: 180px;
      font-weight: 800;
    }
  }

  #theme-switches {
    padding-bottom: 7vh;

    .circle {
      display: inline-block;
      background-color: black;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 16px;
    }
  }

  #desc {
    display: grid;
    grid-template-columns: 70% 30%;

    .left {
      .mail {
        button {
          padding: 10px;
          border: none;
          outline: none;
        }
      }
      .designation {
        font-size: 30px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
    }
  }
}
