body {
  background-color: whitesmoke;
}

.main-frame {
  border-bottom: 5px solid #36e674;
  color: #36e674;
  #theme-switches {
    .circle {
      border: 1px solid black;
    }
  }

  #desc {
    .left {
      button {
        background-color: #36e674;
        color: white;
      }
    }
    .right {
      .socials {
        a {
          text-decoration: none;
          color: #999;
        }
        a:hover {
          color: #36e674;
        }
      }
    }
  }
}
