@import url(../dark_utilities/dark_utilities.css);

* {
  color: whitesmoke;
}

.first-view {
  background-color: rgb(21, 32, 43);
}

.main-frame {
  background-color: rgb(21, 32, 43);
  border-bottom: 5px solid whitesmoke;

  #desc {
    .left {
      .mail {
        button {
          background-color: whitesmoke;
          color: rgb(21, 32, 43);
        }
      }
    }
    .right {
      a {
        color: #999;
      }
      a:hover {
        color: whitesmoke;
      }
    }
  }
}
