.first-view {
  background-color: whitesmoke;
}

.main-frame {
  background-color: whitesmoke;
  border-bottom: 5px solid black;

  #theme-switches {
    .circle {
      border: 1px solid black;
    }
  }

  #desc {
    .left {
      .mail {
        button {
          background-color: black;
          color: white;
        }
      }
      .designation {
        font-size: 30px;
      }
    }
    .right {
      a {
        color: #999;
      }
      a:hover {
        color: black;
      }
    }
  }
}
